*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  text-align: center;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;

}

header{
  position: fixed;
  display: flex;
  height: 69px;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

.flex_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header img{
  padding-left: 10px;
  height: 50px;
}

a{
  text-decoration: underline;
  padding: 20px;
  color: seashell;
}

.main{
  position: relative;
  top: 70px;
  margin: auto;
  width: 1200px;
}

#mission{
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  justify-content: center;
  align-items: center;
}

h2, h4{
  display: block;
  background-color: black;
  width: 1200px;
  padding: 10px;
}

h2{
  font-weight: bold;
}

#featured{
  width: 1000px;
  height: 700px;
  display: block;
  padding-top: 70px;
  margin: auto;
}

#featured h2,
#featured h4{
  width: 1000px;
}

.item{
  padding: 15px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.item img{
  height: 200px;
  width: 300px;
  display: block;
  padding-bottom: 15px;
}

.flex_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#locations{
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  display: block;
  /* position: absolute; */
}

#locations h2{
  display: inline;
  position:relative;
  top: 60px;
  background: none;

}

.locations_items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.location{
  margin: 5px 20px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  opacity: 1;
  height: 300px;
  width: 300px;
}

.location p,
.location h3{
  display: block;
  padding: 20px;
}

#contact{
  height: 200px;
  background-color: black;
  display: block;
  margin-top: 5px;
  text-align:
  width: 1200px;
}

#contact h2{
  text-align: center;
  width: auto;
  margin-bottom: 10px;
}

#contact p,
#contact h5{
  margin-top: 30px;
  display: block;
  text-align: center;
  width: 1200px;
}

footer{
  padding-left: 20px;
  text-align: left;
  display: block;
  width: 1200px;
  margin: 80px 0px 40px 0px;
  height: 30px;
}
